*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button{
    background-color: rgb(0,158,15);
    border: none;
    color: white;
    box-shadow: 3px 3px 3px 1px black;
    padding: .3rem .6rem;
}
ul{
    list-style: none;
    margin-top: 2rem;
    max-height: 70vh;
    overflow: auto;
    border: 2px solid black;
    padding: 1rem;
}
li{
    margin-bottom: .2rem;
}
body{
    padding: 2rem 5rem;
    display: none;
}
span{
    font-weight: bolder;
}