<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Virtual Recitation</title>
        <link rel="stylesheet" href="/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
            const socket = io();
            socket.emit('joined');
            $(document).ready(function(){
                $('body').show();
                
                socket.on('history',function(list){
                    console.log(list);
                    $('ul').html(list.history);
                })
                $('button').click(function(){
                    socket.emit('raisehand');
                })
            })
        </script>
    </head>
    <body>
       <button>Raise hand</button>
       <ul>
       </ul>
    </body>
</html>