<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet">
    <title>Cinema</title>
</head>
<body>
    <h1 class="text-center">Welcome to our Cinema</h1>
    <div class="right" id="buttons">
        <a class="btn btn-primary" href="/theaters">Theater</a>
        <a class="btn btn-primary" href="/movies/new">Add New</a>
    </div>
    <ul class="d-flex gap-2 list-style-none justify-center">
       <% for(let img of images){ %>
        <li><img src="/<%= img %>"></li>  
       <% } %>
    </ul>
</body>
</html>