<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation</title>
    <link rel="stylesheet" href="http://localhost:8005/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="http://localhost:8005/ajax.js"></script>
</head>
<body>
    <div>
        <h1>Total Cash Donation: $<span id="cash">100</span></h1>
        <p>Give according to one's capcacity</p>
        <p>Take according to one's need</p>
        <section>
            <button id="donate">Donate $10</button>
            <button id="redeem">Redeem $10</button>
        </section>
    </div>
</body>
</html>