#items{
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
    width: 50%;
    margin: 2rem auto;
    border: 2px solid black;
    padding: 1rem;
    text-align: center;
    list-style: none;
}
#buttons{
    width: 50%;
    margin: 1rem auto;
    list-style: none;
}
#buttons a{
    text-decoration: none;
    border: 2px solid black;
    box-shadow: 3px 3px 2px 1px black;
    color: white;
    padding: .3rem .6rem;
}
#prev,#next{
    background-color: rgb(43,120,228);
}
#top{
    background-color: rgb(0,158,15);
}
div{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
}
.custom-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #766DF4;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: s7 1s infinite steps(8);
  }
  
  @keyframes s7 {
    100% {transform: rotate(1turn)}
  }

