<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:7890/stylesheets/myOwnBP">
    <title>Cinema</title>
</head>
<body>
    <form class="d-flex flex-column gap-1">
        <label>
            Movie Title: <input type="text">
        </label>
        <label>
            Movie Genre:
            <select>
                <option selected>Comedy</option>
                <option>Romance</option>
                <option>Action</option>
            </select>
        </label>
        <label>
            Wall Image:
            <input type="file">
        </label>
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
</body>
</html>