<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:7890/stylesheets/myOwnBP">
    <title>Cinema</title>
</head>
<body>
    <h1 class="text-center">Welcome to our Cinema</h1>
    <div class="right" id="buttons">
        <a class="btn btn-primary" href="/views/theaters">Theater</a>
        <a class="btn btn-primary" href="/views/form">Add New</a>
    </div>
    <ul class="d-flex gap-2 list-style-none justify-center">
        <li><img src="http://localhost:7890/images/greyhound"></li>
        <li><img src="http://localhost:7890/images/hunter_killer"></li>
        <li><img src="http://localhost:7890/images/money_heist"></li>
        <li><img src="http://localhost:7890/images/naruto"></li>
        <li><img src="http://localhost:7890/images/seven_deadly_sins"></li>
        <li><img src="http://localhost:7890/images/what_wrong_sec_kim"></li>
    </ul>
</body>
</html>