<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:7890/stylesheets/myOwnBP">
    <title>Cinema</title>
</head>
<body>
    <div class="container">
        <h1>Cinema Location</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, cumque nihil! Blanditiis quas odit ut consequuntur eligendi ipsum? Repudiandae voluptatum doloremque recusandae quisquam reprehenderit nobis minus veniam consectetur. Reiciendis, officia.</p>
        <section class="d-flex gap-2" align-center>
            <img src="http://localhost:7890/images/robinson">
            <img src="http://localhost:7890/images/cinema">
        </section>
    </div>
</body>
</html>