#auth-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    display: inline-block;
    border-radius: 1rem;
}
input[type='submit']{
    width: 100%;
}
#vege-bg,#login-form,#signup-form{
    display: inline-block;
    vertical-align: top;
}
form + img{
    width: 7rem;
    object-fit: cover;
    object-position: center 80%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#login-form + img{
    height: 31rem;
}
#signup-form + img{
    height: 42rem;
}
.error{
    color: red;
    font-weight: 600;
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
    top: 2rem;
}
