aside{
    position: sticky;
    top: 0;
    border: 1px solid black;
    width: 15rem;
    background-color: rgb(42,45,62);
    height: 100vh;
}
aside > div{
    padding: 1rem 0;
} 
aside div img{
    width: 7rem;
}
aside > ul{
    padding: 0;
    list-style: none;
    padding-top: 2rem;
}
aside ul li{
    margin-bottom: 1rem;
    width: 90%;
    transition: all .3s ease-in;
}
aside ul li:hover{
    background-color: rgb(65,63,101);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
aside ul li a{
    padding: 1rem 0;
    padding-left: 2rem;
    text-decoration: none;
    color: white;
    width: 100%;
    display: inline-block;
}